/*changes?*/
body{
	font-family: 'Raleway', sans-serif;
    margin-top: 0px;
}
#signUpDiv{
    position: absolute;
    right: 0;
    top: 30px;
}

#actDiv{
    position: absolute;
    right: 66px;
    top: 30px;
}
#acomDiv{
    position: absolute;
    right: 151px;
    top: 30px;
}

.container{
    max-width: 1200px;
    margin: auto;

}

/*#navContainer{
    display:flex;
    flex-direction: row;
    margin-top: 1em;
}
*/
#logo{
    margin-right: 50%;
    order: 0;
    padding-top: 1em;
}

#accomodationsBar{
    margin-right: 1em;
    text-decoration: none;
    color: #006ed0;
    order: 1;
    padding-top: 1em;
}

#activitiesBar{
    margin-right: 1em;
    text-decoration: none;
    color: #006ed0;
    order: 2;
    padding-top: 1em;
}
#signUp{
    color: #006ed0;
    text-decoration: none;
    font-weight: bold;
    margin-right: .5em;
    order: 3;
    padding-top: 1em;
}

#accomodationsBar:hover{
    border-top: outset #006ed0;
}

#accomodationsBar:active{
    border-top: outset #006ed0;
}

#activitiesBar:hover{
    border-top: outset #006ed0;
}

#activitiesBar:active{
    border-top: outset #006ed0;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    
}


.searchcontainer{
    display: flex;
    flex-direction: row;
    margin-bottom: .33em;
}

#searchOne{

    font-weight: bold;
    font-size: 115%;
}
#searchTwo{
    color: grey;
}

p#search{
background-color: #006ed0;
margin-top: 0px;
border-radius: 0em .4em .4em 0em;
padding: .6em;
color: white;
font-size: 85%;
font-weight: bold;
}

input#searchField{
margin-top: .05em;
height: 2.4em;
border-color: #00000045;
border-width: .05em .05em .05em 0em;
}

i.fas.fa-map-marker-alt{
    background-color: rgba(203, 208, 212, 0.65);
    padding: .6em;
    border-radius: .4em 0em 0em .4em;
    height: .85em;
    margin-top: .01em;
    

} 

#filterContainer{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}
#filterlabel{
    height: 1em;
font-size: 85%;
position: relative;
bottom: .65em;
order: 0;
margin-bottom: 0px;
margin-right: 1.5%;

}

#firstButton{
    position: static;
    border: solid #80808059;
    width: 6.5em;
    height:1.6em;
    border-radius: 1.3em;
    border-width: thin;
    margin-right: 1.5%;
    margin-bottom:1.5%;
    order: 1;
    }

.fas.fa-money-bill-wave{
    position: absolute;
    color: #006ed0;
    background-color: #b4c0e3;
    padding: .3em;
    z-index: 2;
    border-radius: 2em;
}
#lowCost{
    position: relative;
    bottom: .65em;
    left: 2.7em;
    z-index: 1;
    font-size: 85%;
    
}

#secondButton{
    position: static;
    border: solid #80808059;
    width: 8.5em;
    height:1.6em;
    border-radius: 1.3em;
    border-width: thin;
    margin-right: 1.5%;
    margin-bottom:1.5%;
    order: 2;
}

.fas.fa-child{
    position: absolute;
    color: #006ed0;
    background-color: #b4c0e3;
    padding: .5em;
    z-index: 2;
    border-radius: 2em;
}
#familyFriendly{
    position: relative;
    bottom: .65em;
    left: 2.3em;
    z-index: 1;
    font-size: 85%;
}

#thirdButton{
    position: static;
    border: solid #80808059;
    width: 6.5em;
    height:1.6em;
    border-radius: 1.3em;
    border-width: thin;
    margin-right: 1.5%;
    margin-bottom:1.5%;
    order: 3;
}

.fas.fa-heart{
    position: absolute;
    color: #006ed0;
    background-color: #b4c0e3;
    padding: .3em;
    z-index: 2;
    border-radius: 2em;
}
#romantic{
    position: relative;
    bottom: .65em;
    left: 2.3em;
    z-index: 1;
    font-size: 85%;
    padding-left: .15em;
}



#fourthButton{
    position: static;
    border: solid #80808059;
    width: 7.9em;
    height:1.6em;
    border-radius: 1.3em;
    border-width: thin;
    margin-right: 1.5%;
    margin-bottom:1.5%;
    order: 4;
}

.fas.fa-dog{
    position: absolute;
    color: #006ed0;
    background-color: #b4c0e3;
    padding: .3em;
    z-index: 2;
    border-radius: 2em;
}
#petsAllowed{
    position: relative;
    bottom: .65em;
    left: 2.3em;
    z-index: 1;
    font-size: 85%;
    padding-left: .15em;
}



#results{
    display: inline-block;
    font-size: .8em;
color: gray;
}

.fas.fa-info{
    color:  #006ed0;
border: solid #808080cf;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
border-radius: 5em;
padding: .3em .6em;
font-size: .7em;
border-width: .05em;
}

#accomodations{
    height: 350px;
    width: 65%;
    background-color: rgba(203, 208, 212, 0.65);
    margin-right: 2%;
}



#mostPopular{
    background-color: rgba(203, 208, 212, 0.65);
    height: 350px;
    width: 35%;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;

}

.fas.fa-star{
    font-size: 1.3vw;
}

.hotelName{
    font-size: 1.3vw;
    font-weight: bold;
    /* margin-bottom: .4em; */

}

.nightStarting{
    font-size: 1vw;
    font-weight: 100;
    color: gray
}
#mostPopHeader{
    display: inline-block;
    width: 80%;
    margin-left: 1em;
}
.mostPopularCards{
    display:flex;
    background-color: white;
    margin: 0 4%;
    border-radius: 5%;
   
    
}
.mostPopularPhotos{ 
    height: auto;
    width: 93%;
    border-radius: 5% 0 0 5%;
    margin: 2%;
    vertical-align: middle;
}

.divPhoto{
    width: 50%;
}

.hotelInfo{
    text-align: left;
    width: 49%;
}

/* .hotelName{
    font-size: .7em;
} */

.boldPrice{
    font-weight: bold;
    color: black;
}

.blue{
    color: #006ed0;
}
  
footer{
    background-color: gray;

}


@media (max-width: 700px){
    /*card container*/
    .flexcontainer{
        flex-direction: column-reverse;
    }
    /*filter Container*/
    #filterContainer{
        flex-direction: row;
        flex-wrap: wrap;
        height: 10em;
        width: 15em;
    }
    #filterlabel{
        width: 200%;
    }

   #thirdButton{
       order: 1;
   }

#logoDiv{
    display: block;
}
#logo{
    display: inline-block;
}
  #acomDiv{
      display:inline-block;
      position: static;
      width: 49%;
      border-bottom: outset rgba(203, 208, 212, 0.28);
      text-align: center;
      padding-bottom: .8em;
      margin: 15px 0px;
  }
  
  

  #acomDiv:hover{
    border-bottom: outset #006ed0;
    
}

#actDiv:hover{
    border-bottom: outset #006ed0;
    
}

#accomodationsBar:hover{
    border-top: none;
}

#accomodationsBar:active{
    border-top: none;
}



#actDiv{
    display: inline-block;
    position: static;
    width: 49%;
    border-bottom: outset rgba(203, 208, 212, 0.28);
    text-align: center;
    padding-bottom: .8em;
}

#activitiesBar:hover{
    
    border-top: none;
}

#activitiesBar:active{
    border-bottom: outset #006ed0;
    border-top: none;
}

#results{
    width: 80%;
}

/*Most Popular Cards-mobile*/
#mostPopular{
    width: 90%;
}

.hotelName{
    
    font-size: 4vw;
}
.nightStarting{
    margin-bottom: 1.5em;
    font-size: 3vw;
}

.fas.fa-star{
    font-size: 3vw;
}
}

/*


.photo{
    height: 7em;
    width: 12em;
    justify-items: center;
    grid-area: photo;
}


#search{
	background-color: #1e8be1 ;
	display: inline-block;
    padding: .25em;
    border-radius: 0em .75em .75em 0em;
}
#searchField{
	display:inline-block;
}


.btn {
background-color: #1e8be1a1;
width: 14%;
height: 20%;
 border-radius: 15%;S 
padding: 1%;
margin: 1%;
}

.btn:hover{
	background-color: gray;
}


.container {
	display: grid;
    height: 100vh;
    
    grid-template-columns: 1fr  1fr;
    grid-template-rows: .5fr 1.5fr;
    grid-template-areas: 
    "h h"
    "a b";
    
    grid-gap: .2em;
	
 
}


@media only screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "h"
        "a"
        "b";
    }

}

header{
    grid-area: h;
   
    
}
#sectionA{
    
    grid-area: a;
    background-color: rgba(219, 218, 218, 0.966);
    font-size: 150%;
    
    display: grid;
    
    border-radius: 2%;
    align-content: space-around;
    
}





#sectionB{
   /* grid-area: b;
    background-color:rgba(219, 218, 218, 0.966);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 2%;
}

#showMore{
    font-weight: bold;
    font-size: 110%;
}
      
i.fas.fa-star{
    color: blue;
}

#greyStar{
    color: gray;
}


#searchContainer{
    display: flex;
    flex-direction: row;
}

